name: clientcd
on:
  push:
    branches:
      - main
jobs:
    build:
      runs-on: ubuntu-latest
      steps:
          - name: checkout-code
            uses: actions/checkout@v4
          - name: docker-login 
            uses: docker/login-action@v3
            with:
              username: ${{ secrets.DOCKER_USERNAME }}
              password: ${{ secrets.DOCKER_PASSWORD }}
          - name: push to docker
            uses: docker/build-push-action@v5
            with: 
              context: ./client
              push: true
              tags: azmadin/aiassistant:latest








