name: clientcd
on:
  push:
    branches:
      - main
jobs:
    build:
      runs-on: ubuntu-latest
      steps:
          - name: checkout-code
            uses: actions/checkout@v4
          - name: test-client-code
            uses: actions/setup-node@v4
            with:
              node-version: 18
          - name: install dependencies
            run: npm ci
            working-directory: ./client
          - name: run tests
            run: npm test
            working-directory: ./client
          - name: docker-login 
            uses: docker/login-action@v3
            with:
              username: ${{ secrets.DOCKER_USERNAME }}
              password: ${{ secrets.DOCKER_PASSWORD }}
          - name: push client to docker
            uses: docker/build-push-action@v5
            with: 
              context: ./client
              push: true
              tags: azmadin/aiassistant:latest
          - name: push server to docker
            uses: docker/build-push-action@v5
            with:
              context: ./server
              push: true
              tags: azmadin/doc_assistant:latest









